body {
    height: 100vh;
}

.header {
    display: flex;
    padding: 20px;
    border: 2px solid black;
    height: 5%;
}

.cardContainer {
    display: flex;
    gap: 20px;
    padding: 10px;
    border: 2px solid black;
    height: 70%;
}