body {
    height: 100vh;
    position: relative;
}

.header {
    display: flex;
    padding: 20px;
    border: 2px solid black;
    height: 5%;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
    border: 2px solid black;
    height: 70%;
}

#bookForm {
    z-index: 0;
    display: none;
}

#bookForm-container {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    width: 400px;
    height: 400px;
    border: 2px solid black;
    position: absolute;
    inset: 0;
    margin: auto;
    padding: 20px;
    gap: 5px;
}

#bookForm-container>label {
    height: fit-content;
    position: relative;
}

#bookForm-container>input {
    height: 30px;
}

#submitCancelButtons {
    align-self: center;
    height: fit-content;
    width: fit-content;
}

#submitCancelButtons>button {
    padding: 5px 10px;
}